/* --- Estilos Gerais e Básicos --- */
body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

.skip-link, .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    position: static; /* Traz de volta para o layout da página */
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #0056b3;
    color: #ffffff;
    text-decoration: none;
}


a:focus-visible,
button:focus-visible,
input:focus-visible {
    outline: 3px solid #0056b3;
    outline-offset: 2px;
    background-color: #eef;
}
 

.site-header, .site-footer {
    background-color: #0056b3;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.site-header a {
    color: #ffffff;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

main, aside {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.search-form label {
    position: absolute;
    left: -10000px;
}